*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header-container{
    display: flex;
    background-color: #1f2937;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 60px;

}
.header-bar{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    padding-bottom: 75px;
   
}
.header-menu{
    display: flex;
   margin-top: 15px;
  gap: 10px;
    
}

.header-menu > li{
display: flex;
text-decoration: none;

}


.logo{
    display: flex;
    color: #f9faf8;
    font-size: 24px;
    font-weight: 500;
    width: 400px;
    
}


a{
    color: #e5e7eb;
    text-decoration: none;
    
}
.signup-container{
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    color: #e5e7eb;

}
.hero-span{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.hero-text-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
    padding:10px;
    flex:1;
    
}
button{
    background-color: #3882f6;
    border-radius: 6px;
    padding: 6px 24px;
    color:#f9faf8;
    margin-top:10px;
    text-align:center;
    border: none;
    font-size: 12px;
    font-weight: bold;
}
.button2{
    border: 2px solid white;
}
.fake-pic{
    display: flex;
    width: 400px;
    height: 200px;
    background-color: gray;
    justify-content: center;
    align-items: center;
    color:#f9faf8 ;
}
.subtext-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding:30px;
    flex: 1;

}
h1{
    padding-bottom: 20px;
}
.four-box-container{
display: flex;
flex-direction: row;

}
.subtext{
    color:#585757;
    padding-top:.5em;

}
.box-and-subtext-container{ 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 140px;
    margin: 20px;
}

.illustration-box{
    border:4px solid #3882f6;
    border-radius: 10px;
    width: 120px;
    height: 120px;
}

.quote-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    background-color: #e5e7eb;
    color: #1f2937;
    font-style: italic;
    width: 100%;
    align-items: center;
   flex: 1;
  
    
}
.quote-text{
    display: flex;
    justify-content: left;
    text-align: justify;
    font-size: 36px;
    font-weight: 300;
height: 200px;
flex-wrap: wrap;
width: 900px;
 

}
.quote-container span{
    display: flex;
    color: black;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    justify-content: right;
    width: 100%;
    margin: 0;
    
}

.call-to-action-container{
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 30px;
    margin: 50px 150px;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    flex-wrap: wrap;
    width: 650px;
    align-items: center;
    align-self: center;
    flex: 1;

}
.call-action-text-container{
    display: flex;
    flex-direction: column;
    
}

.bold-action-title{
    font-weight: bolder;
    font-size: 18px;

}
.bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    width: 100%;
    padding: 1em 0;
    color: #e5e7eb;
    flex:0;
}